<template>
  <style>
    a:hover {
      text-decoration: none;
      background-color: blue;
    }

    #title{
      font-weight: bold;
      font-size: 1.1 em;
    }
    #timestamp{
      font-size: 0.8em;
      color: #ddd;
    }
  </style>
  <a href.bind="item.link">
    <div id="title">${item.title}</div>
    <div id="content">${item.content}</div>
    <div id="timestamp">${item.publishedDate}</div>
  </a>
</template>
