<template>
  <require from="../converters/debug-converter"></require>
  <link rel="import" href="../bower_components/paper-input/paper-input-decorator.html"></link>
  <link rel="import" href="../bower_components/paper-spinner/paper-spinner.html"></link>
  <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html"></link>
  <link rel="import" href="../bower_components/paper-slider/paper-slider.html"></link>
  <link rel="import" href="../bower_components/core-selector/core-selector.html"></link>
  <link rel="import" href="../bower_components/polymer/polymer.html"></link>

  <style>
    .result-title{
      font-weight: bold;
      float: left;
      margin-right: 0.5em;
    }
    .result-subtitle{
      color: #333;
    }
    .result{
      padding: 0.5em;
      border-bottom: 1px solid #eee;
    }
    .result.core-selected {
      background: #eee;
    }
    .selected {
      background: #eee;
    }
    .collapsed {
      display: none;
    }
    .search-input {
      width: 300px;
    }
    .search-input-clear-button {
      margin-top: 30px;
    }
    .progress {
      height: 2px;
      margin-top: -10px;
      width: 300px;
      position: absolute;
    }
    #input-container{
      display: flex;
      min-width: 400px;
    }
    paper-progress::shadow #progressContainer {
      background-color: transparent;
    }
  </style>

  <div id="input-container">
    <paper-input-decorator class="search-input" label="Search Company" floatingLabel>
      <input label="Search Company" type="text" value.bind="searchtext"></input>
    </paper-input-decorator>
    <paper-icon-button
      class="search-input-clear-button ${searchtext.length > 0 && !isSearching ? '' : 'collapsed'}"
      icon="clear"
      title="clear"
      click.delegate="clearSearch()">
    </paper-icon-button>
  </div>

  <paper-progress indeterminate class="progress ${isSearching ? '' : 'collapsed'}" flex></paper-progress>

  <core-selector valueattr="model" selected.two-way="selection">
    <div class="result" repeat.for="res of results" model.bind="res">
      <div class="result-title">${res.symbol}</div>
      <div class="result-subtitle">${res.name}</div>
    </div>
  </core-selector>

  <!-- <core-list
    data.bind="results"
    selection.two-way="selection">
    <template>
      <div class="row {{ {selected: selected} | tokenList }}">
        <div class="result-title">{{model.symbol}}</div>
        <div class="result-subtitle">{{model.name}}</div>
      </div>
    </template>
  </core-list> -->
</template>
