<template>
  <require from='../converters/format-converter'></require>

  <style>
    #price{
      font-size: 4em;
    }
    #change{
      margin-left: 5px;
      font-size: 2em;
    }
    #price-pane{
    }
    .neg{
      color: rgb(255, 91, 20);
    }
    .pos{
      color: rgb(1, 182, 4);
    }
    .detail{
      color: #cccccc;
    }
    .detail-val{
      padding: 0px 4px;
      color: #888888;
    }
    .detail-lbl{
      padding-left: 10px;
    }
  </style>

  <div>
    <!-- // symbol : AAPL
    // AverageDailyVolume : 54237000
    // Change : -0.505
    // DaysLow : 126.670
    // DaysHigh : 128.200
    // YearLow : 74.921
    // YearHigh : 133.600
    // MarketCapitalization : 740.30B
    // LastTradePriceOnly : 127.095
    // DaysRange : 126.670 - 128.200
    // Name : Apple Inc.
    // Symbol : AAPL
    // Volume : 18169270
    // StockExchange : NMS -->
    <div id="price-pane">
      <span id="price">${value.LastTradePriceOnly | format: '0.00'}</span>
      <span id="change" class="${isPositive ? 'pos' : 'neg'}">${value.Change | format: '0.00'}</span>
    </div>
    <table class="detail">
      <tr>
        <td class="detail-lbl">EXCHNAGE</td>
        <td class="detail-val">${value.StockExchange}</td>
        <td class="detail-lbl">CURRENCY</td>
        <td class="detail-val">USD</td>
      </tr>
      <tr>
        <td class="detail-lbl">LOW</td>
        <td class="detail-val">${value.DaysLow | format: '0.00'}</td>
        <td class="detail-lbl">VOL</td>
        <td class="detail-val">${value.Volume | format: '0,0'}</td>
      </tr>
      <tr>
        <td class="detail-lbl">HIGH</td>
        <td class="detail-val">${value.DaysHigh | format: '0.00'}</td>
        <td class="detail-lbl">AVG DVOL</td>
        <td class="detail-val">${value.AverageDailyVolume | format: '0,0'}</td>
      </tr>
      <tr>
        <td class="detail-lbl">YR LOW</td>
        <td class="detail-val">${value.YearLow | format: '0.00'}</td>
        <td class="detail-lbl">MKT CAP</td>
        <td class="detail-val">${value.MarketCapitalization}</td>
      </tr>
      <tr>
        <td class="detail-lbl">YR HIGH</td>
        <td class="detail-val">${value.YearHigh | format: '0.00'}</td>
        <td class="detail-lbl">DAY RANGE</td>
        <td class="detail-val">${value.DaysRange}</td>
      </tr>
    </table>
  </div>
</template>
