<template>
  <require from="./elements/news-item"></require>
  <require from="./elements/search-panel"></require>
  <require from="./converters/debug-converter"></require>
  <link rel="import" href="../bower_components/core-splitter/core-splitter.html"/>

  <style>
    search-panel{
      margin-left: 10px;
      height: 100%;
    }
    #news-container{
      background: #eee;
      width: 100%;
    }
    .news-item{
      display: block;
      background: #fff;
      margin: 5px;
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
    }
  </style>

  <div horizontal layout>

    <search-panel selection.two-way="selected | debug"></search-panel>

    <core-splitter direction="left"></core-splitter>

    <div id="news-container" >
      <news-item class="news-item" repeat.for="n of newsitems" item.bind="n"></news-item>
    </div>
  </div>
</template>

<!-- demo code
1.
<require from="./elements/search-panel"></require>
<require from="./converters/debug-converter"></require>
2.
<search-panel
  selection.two-way="selection | debug">
</search-panel>
3.
<link rel="import" href="../bower_components/core-splitter/core-splitter.html"/>
<core-splitter direction="left"></core-splitter>
4.
search-panel{
  margin-left: 10px;
  width: 500px;
}
-->
