<template>
  <require from="./elements/search-panel"></require>
  <require from="./elements/instrument-panel"></require>
  <require from="./converters/debug-converter"></require>

  <link rel="import" href="../bower_components/core-splitter/core-splitter.html"/>

  <style>
    .collapsed {
      display: none;
    }
    search-panel{
      margin-left: 10px;
      height: 100%;
    }
    instrument-panel{
      margin-left: 10px;
    }
  </style>

  <div horizontal layout>
    <!-- search pane -->
    <search-panel
      ref.view-model="searchpanel"
      searchtext.two-way="searchText | debug"
      selection.two-way="selectedInstrument | debug">
    </search-panel>

    <core-splitter
      direction="left"
      class="${searchpanel.selection != null ? '' : 'collapsed'}">
    </core-splitter>

    <!-- detail panel -->
    <instrument-panel
      class="${searchpanel.selection != null ? '' : 'collapsed'}"
      instrument.bind="selectedInstrument | debug"
      flex>
    </instrument-panel>
  </div>
</template>
